


<div id="headerContainer" class="d-flex navbar-collapse" style="height: 70px; width:100%; z-index:2; background-color: red; position: fixed; ">
    


    <a id="headerText" href ="/home">Mario's Pizza</a>
   
    <a id="headerText" href="/aboutus" style="font-family: PIZZARIA;">About Us</a>

    <a id="headerText" href="/counter" style="font-family: PIZZARIA;">Contact Us</a>


</div>



<style>

        @@font-face {
    font-family: 'pizzaria';
    src: url('css/open-iconic/font/fonts/pizzaria.ttf') format('truetype');
}


        #headerText {
            font-family: 'pizzaria';
        }


</style>



        





